<?xml version="1.0" encoding="GBK"?>
<model:JModule xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI"
	xmlns:model="http:///com/cfcc/devplatform/model.ecore" id="$uuid" name="$cTableName"
	ename="$eTablename" shared="true" />