<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.cfcc.itfe.client.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.cfcc.itfe.client.Perspective"
            id="itfe.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.cfcc.jaf.rcp.mvc.editors.GenericMetadataEditor"
            default="false"
            id="com.cfcc.jaf.rcp.mvc.editors.GenericMetadataEditor"
            name="com.cfcc.jaf.rcp.mvc.editors.GenericMetadataEditor">
      </editor>
      <editor
            class="com.cfcc.jaf.rcp.mvc.editors.GenericEditor"
            default="false"
            id="com.cfcc.jaf.rcp.mvc.editors.GenericEditor"
            name="com.cfcc.jaf.rcp.mvc.editors.GenericEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.cfcc.jaf.rcp.preferences.SystemPage"
            id="com.cfcc.jaf.rcp.preferences.SystemPage"
            name="系统信息设置">
      </page>
      <page
            category="com.cfcc.jaf.rcp.preferences.SystemPage"
            class="com.cfcc.jaf.rcp.preferences.FontPage"
            id="com.cfcc.jaf.rcp.preferences.FontPage"
            name="字体设置">
      </page>
      <page
            category="com.cfcc.jaf.rcp.preferences.SystemPage"
            class="com.cfcc.jaf.rcp.preferences.ControlPage"
            id="com.cfcc.jaf.rcp.preferences.ControlPage"
            name="控件配置">
      </page>
      <page
            category="com.cfcc.jaf.rcp.preferences.SystemPage"
            class="com.cfcc.jaf.rcp.preferences.UpdatePage"
            id="com.cfcc.jaf.rcp.preferences.UpdatePage"
            name="更新站点URL">
      </page>
      <page
            category="com.cfcc.jaf.rcp.preferences.SystemPage"
            class="com.cfcc.jaf.rcp.preferences.LookandfeelPage"
            id="com.cfcc.jaf.rcp.preferences.LookandfeelPage"
            name="系统皮肤设置">
      </page>
      <page
            category="com.cfcc.jaf.rcp.preferences.SystemPage"
            class="com.cfcc.jaf.rcp.preferences.MenuPage"
            id="com.cfcc.jaf.rcp.preferences.MenuPage"
            name="菜单字体">
      </page>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="itfe.application"
            name="itfeproduct">
         <property
               name="appName"
               value="itfeproduct">
         </property>
         <property
               name="windowImages"
               value="icons/00002.gif">
         </property>
      </product>
   </extension>
</plugin>
